@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "TildaSans";
$fontSize: toRem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию
$White: #fff;
$Gray: #5e5e5e;

$transition: 0.3s;

// Палитра цветов
// @import "base/colors-palette";

// Настройка адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1750;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1920;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: toEm($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: toEm(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: toEm(767.98); // Телефоны L
$mobileM: toEm(574.98); // Телефоны M
$mobileSmall: toEm(479.98); // Телефоны S

[class*="__container"] {
	margin: 0 auto;
	max-width: toRem($containerWidth);
	@include adaptiveValue("padding-left", math.div($containerPadding, 2), 10, 0, 1750, 360);
	@include adaptiveValue("padding-right", math.div($containerPadding, 2), 10, 0, 1750, 360);
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base/null";
@import "base";
@import "common";

@import "header";
@import "footer";

@import "main";

html,
body {
	font-family: $fontFamily;

	@media (min-width: $mobileM) {
		overflow: initial;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}

	&::after {
		content: "";
		background-color: rgba(0, 0, 0, 0.5);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
		pointer-events: none;
		z-index: 149;
	}
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Прижимаем footer
	> .inner {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
